.login {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  width: 300px;
  height: 200px;
  background-color: hsl(from var(--primary-color) h s calc(l + 20));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  border-radius: 7px;
  gap: 7px;
}

.login-input {
  padding: 10px;
  border-radius: 4px;
}

.login-button {
  padding: 10px;
  background-color: hsl(from var(--primary-color) h s calc(l - 6));
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
}
