.itemDetail {
  color: var(--primary-text-color);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border: solid black 2px;
  margin: 10px;
  border-radius: 8px;
}

.itemDetail-image {
  width: 300px;
}

.itemDetail-title {
  text-align: center;
}

.itemDetail-description {
  text-align: center;
}

.itemDetail-buttons {
  display: flex;
  gap: 10px;
}
