.checkout-page {
  background-color: hsl(from var(--primary-color) h s calc(l + 18));
  color: var(--primary-text-color);
}

.checkout-title {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.cartdetail-empty {
  text-align: center;
  margin-bottom: 2rem;
}

.checkout-page .accordion {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
