.select-wrapper {
  position: relative;
  display: inline-block;
  padding-right: 1rem;
}

.select-wrapper .categoria-select {
  appearance: none;
  background-color: transparent;
  padding: 0.5rem;
  border: 0;
  color: var(--primary-text-color);
}

.select-wrapper .categoria-select:focus {
  background-color: hsl(from var(--primary-color) h s calc(l + 15));
  color: var(--primary-text-color);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}

.select-wrapper::after {
  content: "\1F81F";
  font-family: "Lucide";
  position: absolute;
  color: var(--primary-text-color);
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  pointer-events: none;
}
