.buttonPrimary {
  background-color: hsl(from var(--primary-color) h calc(s - 50) calc(l + 5));
  color: var(--primary-text-color);
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.buttonPrimary:disabled {
  background-color: hsl(from var(--primary-color) h calc(s - 60) calc(l + 13));
  color: hsl(from var(--primary-text-color) h s calc(l + 30));
}
