.buttonPrimary {
  background-color: hsl(from var(--primary-color) calc(h + 330) s calc(l + 5));
  color: var(--primary-text-color);
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
}

.buttonPrimary:disabled {
  background-color: hsl(from var(--primary-color) h calc(s - 60) l);
  color: hsl(from var(--primary-text-color) h s calc(l + 30));
}
