.productdetail-container {
  background-color: hsl(from var(--primary-color) h s calc(l + 18));
  color: var(--primary-text-color);
}

.carousel-custom-width {
  max-width: 800px;
  margin: 0 auto;
}

.detail-title {
  margin: 2rem 2rem 2rem 1rem;
  padding-right: 4rem;
}

.detail-description {
  margin: 1rem 2rem 2rem 1rem;
  padding-right: 4rem;
}

.opciones-compra {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.boton-carrito {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
