.navbar {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.nav-logout {
  background-color: hsl(from var(--primary-color) h s calc(l + 10));
  padding: 0.25rem;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 0.5rem;
  margin-left: 1rem;
}
