.theme-btn {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  background-color: hsl(from var(--primary-color) h s calc(l + 5));
  margin-right: 20px;
  box-shadow: 1px 1px 2px hsl(from var(--primary-color) h s calc(l - 50));
}
