* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

:root {
  --primary-color: #9bbdf6;
  --primary-text-color: #333;
}

.dark-theme {
  --primary-color: #1e2430;
  --primary-text-color: #ddd;
}
