* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  transition: background-color 200ms ease, color 200ms ease;
}

:root {
  --primary-color: #9bbdf6;
  --primary-text-color: #333;
  background-color: hsl(from var(--primary-color) h s calc(l + 18));
}

.dark-theme {
  --primary-color: #1e2430;
  --primary-text-color: #ddd;
  background-color: hsl(from var(--primary-color) h s calc(l + 18));
  color: var(--primary-text-color);
}
